* {
    margin: 0;
    padding: 0;
    list-style: none
}
body,html {
    width: 100%;
    height: 100%;
    background-color:#f3f4f8;
    font-family: PingFangSC;
    color: #333333;
}
.hall-detail {
    width: 100%;
    background: #fff;
    height: 114px;
    margin-bottom: 10px;
}
.hall-detail-in {
    margin-left: 20px;
    padding-right: 20px
}
.hall-detail .top {
    width: 100%;
    /* box-shadow: inset 0 -0.5px 0 0 #c8c7cc; */
    border-bottom: 1px #c8c7cc solid;
    height: 43px;
    line-height: 43px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box
}

